

.navigation-wrapper {
    background-color: var(--color-sidebar-solid);
    padding: 16px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--grey-200);
    z-index: 105;
}

.navigation-title {
    display: flex;
    align-items: center;
    gap: 8px;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    margin: 16px 0;
}

.sub-section {
    padding-left: 16px;
    color: var(--grey-blue-900);
}

.section {
    color: var(--grey-blue-600);
}

.section,
.sub-section {
    cursor: pointer;
}

.navigation>ul {
    padding: 0;
}


.navigation .active {
    color: var(--color-primary-500);
}

@media only screen and (min-width: 924px) {
    .navigation {
        position: sticky;
        top: 40px;
    }
    .navigation-wrapper {
        background: var(--color-sidebar-gradient);
        padding: 32px 16px;
    }

    
    .navigation ul {
        display: block;
    }

    .navigation-title img {
        display: none;
    }
}

@media only screen and (min-width: 1240px) {
    .navigation-wrapper {
        padding: 167px 16px;
    }

    .navigation {
        top: 167px;
    }
}