.navigation {
    position: sticky;
    top: 167px;
}

.navigation-wrapper {
    background-color: var(--color-sidebar-solid);
    padding: 167px 16px;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    margin: 16px 0;
}

.sub-section {
    padding-left: 16px;
    color: var(--grey-blue-900);
}

.section {
    color: var(--grey-blue-600);
}

.section,
.sub-section {
    cursor: pointer;
}

.navigation>ul {
    padding: 0;
}


.navigation .active {
    color: var(--color-primary-500);
}

@media only screen and (min-width: 924px) {
    .navigation-wrapper {
        background: var(--color-sidebar-gradient);
    }
}